In [23]:
import requests
import pandas as pd
import json

In [4]:
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=ed58cb67bef9a8956d3525348c41a282"  #Make sure to change ******* to your API key.

In [32]:
r=requests.get(url)
data=r.text

In [83]:
data_dict=json.loads(data)

df=pd.DataFrame(data=data_dict["rates"].values(),columns=["Rates"],index=data_dict["rates"].keys())

In [85]:
df.head()

          Rates
AED    3.920332
AFN   84.320656
ALL  106.681573
AMD  412.369207
ANG    1.923735

In [86]:
df.to_csv("/Users/bx/Documents/GitHub/coursera-ELT-Engineer-1/exchangerate.csv")